ioio
<html>


  <body>

    <h1>Admin dashboard</h1><br><br>

   <p>Welcome : {{username}}</p>

    <hr>

    <button><a href="{{url_for('create_content')}}">create content</a></button><br>
    <button><a href="{{url_for('create_eg')}}">create example</a></button><br>
    <hr>

    <p>edit section</p><br>
    
    <button> <a href="{{url_for('content_edit')}}">edit content</a></button><br>
    <button> <a href="{{url_for('edit_update')}}">edit example</a></button><br>
    <button><a href="{{url_for('create_ref')}}">reference</a></button>
    

    <hr>

    <p>workspace</p><br>

    <button><a href="{{url_for('scholar')}}">create scholarship</a></button><br>
    <button><a href="{{url_for('quest')}}">create question</a></button><br>
     <button><a href="{{url_for('logout_route')}}">logout</a></button><br>
    
    
    <hr>
  </body>
</html>