<html>


<body>

    <h1>My board</h1><br><br>

    <button> <a href="{{url_for('user_dash')}}">back</a></button><br>

    <form action="/myboard" method="POST">

        <fieldset>
            <legend>create new</legend>

            <label>Date</label>
            <input type="date" name="date"><br><br>

            <label>Subject</label>
            <input type="text" name="subject"><br><br>

            <label>Content</label>
            <textarea name="content"></textarea><br><br>

            <input type="text" value="{{user_id}}" name="user_id" hidden>

            <button type="submit">save</button>

            
    {% if message %}
        <p style="color: red;">{{ message }}</p>
    {% endif %}
        </fieldset>
    </form>
</body>
</html>