<html>

<body>

    <h1>Create scholarship question</h1><br><br>

    <form action="/question" method="POST">
        <fieldset>

            <legend>create question</legend>

            <label>scholarship name</label><br>
            <select name="ship_name">

                <option value="">name type</option>
            </select><br><br>

            <label>question number</label><br>
            <input type="number" name="qn_number"><br><br>

            <label>question</label><br>
            <textarea name="question"></textarea><br><br>

            <label>word count</label><br>
            <input type="number" name="word_count"><br><br>

            <button type="submit">post</button>


        </fieldset>
    </form>
</body>
</html>