ready
<html>

<body>

    <h1>New essay reference</h1><br><br>

    <button> <a href="{{url_for('admin_dash')}}">back</a></button><br>

    <form action="/reference" method="POST">

        <fieldset>
            <legend>create new</legend>

            <label>question</label><br>
            <textarea name="ref_quest"></textarea><br><br>

            <label>response</label><br>
            <textarea name="ref_response"></textarea><br><br>

            <label>comment</label><br>
            <textarea name="ref_comment"></textarea><br><br>

            <button type="submit">post</button>


        </fieldset>
    </form>

</body>
</html>