<html>


<body>

    <h1>publish new scholarship</h1><br><br>

    <form action="/scholarship" method="POST">

        <fieldset>
            <legend>new scholarship</legend>

            <label>title</label><br>
            <input type="text" name="title"><br><br>

            <label>deadline</label><br>
            <input type="datetime-local" name="deadline"><br><br>

            <label>location</label><br>
            <input type="text" name="location"><br><br>

            <label>scholarship information(about)</label><br>
            <textarea name="about"></textarea><br><br>

            <label>comment</label><br>
            <textarea name="comment"></textarea><br><br>

            <button type="submit">post</button>

            
        </fieldset>
    </form>
</body>
</html>