<html>

<body>

    <h1>tutorial page</h1><br><br>

    <form action="/tuto_dash" method="POST">

        <fieldset>
            <legend>tutorials</legend>

            <p>Select the tutorial</p><br><br>

            {%if tp_check%}
            {%for sum in tp_check%}

            <input type="radio" name="topic_ref" value="{{sum.id}}">{{sum.id  }} {{ sum.topic_name}}<br><br>
            

            {%endfor%}
            {%endif%}

            <button type="submit">select</button>
        </fieldset>

        
    </form>

</body>
</html>