<html>

<body>

    <h1>Workspace:</h1><br><br>
    <B>SEE HERE:{{scholar_id}}</B>

    <form action="/essay_work" method="POST">
        <fieldset>

            <legend>search question</legend>

            <label>QN</label>
            <select name="question_no">

            
                <option>qn NO</option>
                    {%if num%}
                   {%for nums in num%}
                <option value="{{nums.number}}">{{nums.number}}</option>

                {%endfor%}
                {%endif%}
            </select><br><br>

            <input type="text" name="value_id" value="{{scholar_id}}" hidden>
        
            <button type="submit" name="action" value="search_qn">search</button>
          
        </fieldset>
    </form>


    <form>

        <fieldset>
            <legend>update work</legend>

            
            <label>question</label><br>
            <p>{{check.question}}</p><br><br>

            <label>response:</label><br>
            <textarea placeholder="respond here"></textarea><br><br>


            <button type="submit" name="action" value="update_res">update</button>
        </fieldset>


    </form>



</body>
</html>